body {

    background-color: #303030;

}
/* Este es el css para el header de las paginas*/

.cabezera{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 0, 0.788);
    align-items: center;
}
.controles{
    display: flex;
    align-items: center;
}
.controleshijo{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.titulo{
    margin: 10px 280px 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 45px;
}
.buscador{
   display: flex;
    margin: 0px 180px 0px 0px;
}
input{
    height: 25px;
}
.boton{
    height: 31px;
}



