
body {


    background-color: #303030;

}
/* Este es el css para el header de las paginas*/

.cabezera{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 0, 0.788);
    align-items: center;
}
.controles{
    display: flex;
    align-items: center;
}
.controleshijo{
    margin: 10px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: white;  
    font-family: 'Commissioner', sans-serif;
    border-color: white ;stroke: 2px;
}
.titulo{
    margin: 10px 280px 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Luckiest Guy', cursive;
}
.buscador{
   display: flex;
    margin: 0px 180px 0px 0px;
    

}
input{
    height: 25px;
}
.boton{
    height: 31px;
}
/*Este es el codigo para el index*/
.tituloinicial{
color: white;
font-style: none;
font-size: 35px;
font-family: 'Commissioner', sans-serif;
text-shadow: 4px 8px 35px rgb(155, 145, 145);


}
.imagen{
    width: auto;
    height: auto;
    width: 250px;
    height: 350px;
    margin: 10px;
}
.primerasection{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 0, 0, 0.788); 
    align-items: center;
    margin: 1px;
    
}
.titulopelicula{
    color: white;
    text-align: center;
    margin: 40px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    
    
}
.tituoloprincipaldepelicula{
    text-align: center;
}
/*Este es el css del footer*/
.footer{
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}
.nombres{
    
    
    color: white;
    font-size: 20px;
}
.gmail{
    color: white;
    text-decoration: none;
}


/*Usando css para detailmovie y detailserie*/


.titulosdetalles{ 
    color: white;
    font-style: none;
    font-size: 2.5em;
    line-height: 1;
    text-shadow:4px 8px 35px rgb(155, 145, 145); 
    font-family: 'Bebas Neue', cursive;
    
}

.detalles{
    color: white;
font-style: none;
font-size: 50px;
text-decoration: none;
text-align: center;
font-family: 'Bebas Neue', cursive;
}

.duracion{
    
    color: white;
    font-style: none;
    font-size: 1,5em;
    line-height: 1;
    margin: 10px;   
    font-family: 'Commissioner', sans-serif;

}
.sectionpadre{
    display: flex;
    align-items: center;
    margin: 30px 10px 30px 10px;
    
}
.sinopsis{
    margin: 70px 40px 40px 10px;
    color: white;
    font-size: 40px;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    
    
}
.peliculaprincipal{
    margin: 10px 10px 40px 10px;
}
.botonfavorito{
    background-color:black;
    width: 250px;
    margin: 10px;
    text-decoration: none;
}
.letrasfavorito {
   padding: 20px;
   text-align: center;
   text-decoration: none;
   font-family: 'Commissioner', sans-serif;
   
   

}
.favorito{
    text-decoration: none;
    color:white;
}
.cajadatos{
    background-color: rgba(153, 45, 45, 0.753);
    margin: 10px;
    justify-content: start;

}

.informacion{
    color: white;
    font-size: 20px;
    margin: 10px;
    font-family: 'Commissioner', sans-serif;
}
.calificacion{
    color: white;
    font-size: 25px;
    margin: 10px;
    font-family: 'Commissioner', sans-serif;
}
.puntuacion{
    color: white;
    font-size: 25px;
    margin: 10px;
    font-family: 'Commissioner', sans-serif;
}
.estreno{
    color: white;
    font-size: 25px;
    margin: 10px;
    font-family: 'Commissioner', sans-serif;
}
.linkfinal{
    display: flex;
    background-color: thistle;
    justify-content: left;
    margin: 10px;
    
}
.genero{
    color: white;
}
.generoprincipal{
   background-color: yellowgreen;
   margin: 5px;
   
}
.colorLetraGenero{
    color: white;
    text-decoration: none;
}


/*aqui esta el css de generos*/ 





/*Responsive */

@media screen and (max-width:768px) {
    .footer{
        flex-direction: column;
        align-items: center;
       }
    .cabezera{
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        margin: 0%;
    }
}
@media screen and (max-width:420px) {
.footer{
width: 100vw;
}   
.cabezera{
    width: 100vw;
    
} 
.sectionpadre{
    flex-direction: column;
}
.titulo{
    margin: 0%;
}


    
}
.buscador{
    margin: 0% auto;
}
.controleshijo{
    font-size: 14px;
    padding: 2px;
}
.nombres{
    text-align: center;
     margin: 20px;
}
.gmail{
    text-align: left;
    
}










    


